* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    padding-bottom: 30px;
    color: blue;
}

p {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

h1{
    padding-top: 10px;
}

img {
    width: 100px;
    height: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-right: 30px;
}


.nav {
    background-color: black;
    color: white;
    padding: 20px;
    width: 860px;
}

.b1 {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-left: 10px;
    padding-top: 20px;
    padding: 10px;
    height: 300px;
    width: 200px;
    border: 3px solid black;
}

.avlink{
    font-size: larger;
}

.user-name{
    padding-top: 40px;
}

.b2 {
    border: 3px solid black;
    height: 150px;
    width: 520px;
    padding: 40px;
    margin-bottom: 20px;
}

.right {
    display: inline-block;
    margin-left: 50px;
}

.row-1 {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.btn {
    margin-left: 30px;
    margin-top: 10px;
    background-color: #ffd966;
    color: black;
    border: 5px solid black;
    border-width: 3px;
    padding: 5px 15px;
    box-shadow: black 3px 3px;
    font-weight: bold;
}