<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos and Ninjas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .form-container {
            background-color: #343a40;
            color: white;
            padding: 20px;
            margin: 20px;
        }

        .all-dojos-container {
            background-color: #343a40;
            color: white;
            text-align: center;
            padding: 20px;
            margin: 20px;
        }

        .link-container {
            text-align: center;
            margin: 20px;
        }
    </style>
</head>
<body>
    <div class="d-flex justify-content-around">
        <form action="/create/dojo" method="post" class="form-container col-4">
            <h2 class="text-center text-primary">New Dojo</h2>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" class="form-control">
            </div>
            <input type="submit" value="Add Dojo" class="btn btn-primary btn-outline-light">
        </form>
        <div class="all-dojos-container col-4">
            <h2 class="text-primary">All Dojos</h2>
            {% for d in all_dojos %}
            <p>
                <a href="/dojo/{{d.id}}" class="text-warning">{{d.name}}</a>
            </p>
            {% endfor %}
        </div>
    </div>
    <div class="link-container">
        <a href="/ninjas" class="text-center">Add Ninja</a>
    </div>
</body>
</html>
